[flake8]
max-line-length = 88
; per-file-ignores =
; ignore =

show-source = True
statistics = False
doctests = True

# flake8-eradicate
eradicate-aggressive = True

# flake8-pytest-style
pytest-fixture-no-parentheses = False
pytest-parametrize-names-type = csv

exclude =
    .git,
    .tox,
    .venv,
    .pytest_cache,
    __pycache__,
    build,
    dist,
    bin,
    data,
    docs,
    media,
    reports,
    static,
    templates,
    test,
    htmlcov,
    node_modules